body, html {
	height: 100%;
	width: 100%;
}

body {
	background: url('./images/concert.jpg') no-repeat;
	background-size: cover;
	background-position: center center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	min-height: 100vh;
}

h1 {
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	display: block;
	text-align: center;
	margin-top: 4rem;
	margin-bottom: 0.25rem;
	color: #FFFFFF;
}

#keys {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 200px);
}

.key {
	display: inline-flex;
	border-radius: 4px;
	text-align: center;
	display: inline-block;
	margin: 0.75rem;
	padding: 0.75rem;
	border: 1px solid transparent;
	transition: all 0.08s;
	background: rgba(255,255,255,0.82);
}

.playing {
	transform: scale(1.15);
	border-color: #f2cb18;
	box-shadow: 0 0 5px #f2cb18;
}

kbd {
	display: block;
	font-size: 1.5rem;
	font-weight: bold;
}

.sound {
	font-size: 0.75rem;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}